{% layout 'theme.ecomsolid.landing' %}



<link rel="preconnect" href="https://fonts.gstatic.com"><link class="gt_themefonts" href="https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700,800,900|Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&display=swap" rel="stylesheet"><link type="text/css" href="https://d1um8515vdn9kb.cloudfront.net/libs/css/owl.carousel.min.css" class="gt_libscript-2" rel="stylesheet"><link type="text/css" href="https://d3dfaj4bukarbm.cloudfront.net/production/static/client/libs/swiper-bundle-2.0.0-es.css" class="gt_libscript-71" rel="stylesheet"><div class="ecomsolid">{% render 'ecomsolid-page-98797453564-1' %}{% render 'ecomsolid-page-98797453564-2' %}{% render 'ecomsolid-page-98797453564-3' %}</div>{% render 'ecomsolid-page-98797453564-4' %}